# 1.Import Library Pandas

 Pustaka ini menyediakan struktur data yang efisien dan mudah digunakan, terutama DataFrame, yang memungkinkan pengolahan data tabular dan deret waktu

In [31]:
import pandas as pd
from IPython.display import display

# 2. Variable Checker

Mengecek Jumlah Berapa Jenis Varible pada Kolom

In [32]:
# Membaca data dari file CSV ke dalam DataFrame
df = pd.read_csv('Dataset/HR Employee Attrition(NAIVE BAYES).xlsx - HR Employee Attrition.csv')

# Menampilkan seluruh DataFrame
display(df)

,level,Age,BusinessTravel,Department,Education,Education.1,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobLevel,JobRole,MaritalStatus,OverTime,ClassAttrition
0,Senior,41,Travel_Rarely,Sales,D3,2,Life Sciences,2,Female,94,2,Sales Executive,Single,Yes,Yes
1,Senior,49,Travel_Frequently,Research & Development,SMA,1,Life Sciences,3,Male,61,2,Research Scientist,Married,No,No
2,Junior Senior,37,Travel_Rarely,Research & Development,D3,2,Other,4,Male,92,1,Laboratory Technician,Single,Yes,Yes
3,Junior Senior,33,Travel_Frequently,Research & Development,S2,4,Life Sciences,4,Female,56,1,Research Scientist,Married,Yes,No
4,Junior,27,Travel_Rarely,Research & Development,SMA,1,Medical,1,Male,40,1,Laboratory Technician,Married,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,Junior Senior,36,Travel_Frequently,Research & Development,D3,2,Medical,3,Male,41,2,Laboratory Technician,Married,No,No
1466,Junior Senior,39,Travel_Rarely,Research & Development,SMA,1,Medical,4,Male,42,3,Healthcare Representative,Married,No,No
1467,Junior,27,Travel_Rarely,Research & Development,S1,3,Life Sciences,2,Male,87,2,Manufacturing Director,Married,Yes,No
1468,Senior,49,Travel_Frequently,Sales,S1,3,Medical,4,Male,63,2,Sales Executive,Married,No,No
1469,Junior Senior,34,Travel_Rarely,Research & Development,S1,3,Medical,2,Male,82,2,Laboratory Technician,Married,No,No

In [33]:
# Menampilkan jenis atribut pada setiap kolom
for kolom in df.columns:
    jenis_atribut = df[kolom].unique()
    print(f"Jenis Atribut pada Kolom {kolom}:")
    print(jenis_atribut)
    print()

Jenis Atribut pada Kolom level:
['Senior' 'Junior Senior' 'Junior']

Jenis Atribut pada Kolom Age:
[41 49 37 33 27 32 59 30 38 36 35 29 31 34 28 22 53 24 21 42 44 46 39 43
 50 26 48 55 45 56 23 51 40 54 58 20 25 19 57 52 47 18 60]

Jenis Atribut pada Kolom BusinessTravel:
['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']

Jenis Atribut pada Kolom Department:
['Sales' 'Research & Development' 'Human Resources']

Jenis Atribut pada Kolom Education:
['D3' 'SMA' 'S2' 'S1' 'S3']

Jenis Atribut pada Kolom Education.1:
[2 1 4 3 5]

Jenis Atribut pada Kolom EducationField:
['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources']

Jenis Atribut pada Kolom EnvironmentSatisfaction:
[2 3 4 1]

Jenis Atribut pada Kolom Gender:
['Female' 'Male']

Jenis Atribut pada Kolom HourlyRate:
[ 94  61  92  56  40  79  81  67  44  84  49  31  93  50  51  80  96  78
  45  82  53  83  58  72  48  42  41  86  97  75  33  37  73  98  36  47
  71  30  43  99  59  95  57  76  87  66  55  32  52  70  62  64  63  60
 100  46  39  77  35  91  54  34  90  65  88  85  89  68  69  74  38]

Jenis Atribut pada Kolom JobLevel:
[2 1 3 4 5]

Jenis Atribut pada Kolom JobRole:
['Sales Executive' 'Research Scientist' 'Laboratory Technician'
 'Manufacturing Director' 'Healthcare Representative' 'Manager'
 'Sales Representative' 'Research Director' 'Human Resources']

Jenis Atribut pada Kolom MaritalStatus:
['Single' 'Married' 'Divorced']

Jenis Atribut pada Kolom OverTime:
['Yes' 'No']

Jenis Atribut pada Kolom ClassAttrition:
['Yes' 'No']

# 3. Preposessing Data

Memastikan data yang dipakai sesuai dengan kebutuhan dalam proses algoritma naive bayes

In [34]:
# Memilih kolom yang diinginkan
kolom_diinginkan = ['level', 'BusinessTravel', 'Department', 'Education', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'OverTime', 'ClassAttrition']
df_baru = df.loc[:, kolom_diinginkan]

# Menyimpan DataFrame baru ke file CSV
df_baru.to_csv('Dataset/data_train.csv', index=False)

print("File CSV baru telah berhasil dibuat.")

File CSV baru telah berhasil dibuat.

In [36]:
# Membaca data dari file CSV ke dalam DataFrame
df = pd.read_csv('Dataset/data_train.csv')

# Menampilkan seluruh DataFrame
display(df)

,level,BusinessTravel,Department,Education,EducationField,Gender,JobRole,MaritalStatus,OverTime,ClassAttrition
0,Senior,Travel_Rarely,Sales,D3,Life Sciences,Female,Sales Executive,Single,Yes,Yes
1,Senior,Travel_Frequently,Research & Development,SMA,Life Sciences,Male,Research Scientist,Married,No,No
2,Junior Senior,Travel_Rarely,Research & Development,D3,Other,Male,Laboratory Technician,Single,Yes,Yes
3,Junior Senior,Travel_Frequently,Research & Development,S2,Life Sciences,Female,Research Scientist,Married,Yes,No
4,Junior,Travel_Rarely,Research & Development,SMA,Medical,Male,Laboratory Technician,Married,No,No
...,...,...,...,...,...,...,...,...,...,...
1465,Junior Senior,Travel_Frequently,Research & Development,D3,Medical,Male,Laboratory Technician,Married,No,No
1466,Junior Senior,Travel_Rarely,Research & Development,SMA,Medical,Male,Healthcare Representative,Married,No,No
1467,Junior,Travel_Rarely,Research & Development,S1,Life Sciences,Male,Manufacturing Director,Married,Yes,No
1468,Senior,Travel_Frequently,Sales,S1,Medical,Male,Sales Executive,Married,No,No
1469,Junior Senior,Travel_Rarely,Research & Development,S1,Medical,Male,Laboratory Technician,Married,No,No

In [37]:
# Menampilkan jenis atribut pada setiap kolom
for kolom in df.columns:
    jenis_atribut = df[kolom].unique()
    print(f"Jenis Atribut pada Kolom {kolom}:")
    print(jenis_atribut)
    print()

Jenis Atribut pada Kolom level:
['Senior' 'Junior Senior' 'Junior']

Jenis Atribut pada Kolom BusinessTravel:
['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']

Jenis Atribut pada Kolom Department:
['Sales' 'Research & Development' 'Human Resources']

Jenis Atribut pada Kolom Education:
['D3' 'SMA' 'S2' 'S1' 'S3']

Jenis Atribut pada Kolom EducationField:
['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources']

Jenis Atribut pada Kolom Gender:
['Female' 'Male']

Jenis Atribut pada Kolom JobRole:
['Sales Executive' 'Research Scientist' 'Laboratory Technician'
 'Manufacturing Director' 'Healthcare Representative' 'Manager'
 'Sales Representative' 'Research Director' 'Human Resources']

Jenis Atribut pada Kolom MaritalStatus:
['Single' 'Married' 'Divorced']

Jenis Atribut pada Kolom OverTime:
['Yes' 'No']

Jenis Atribut pada Kolom ClassAttrition:
['Yes' 'No']

# 4. Menentukan Nilai Prior

Perhitungan nilai prior dalam konteks Naive Bayes dilakukan dengan menghitung proporsi atau probabilitas kemunculan setiap kelas dalam dataset. Secara sederhana, nilai prior dari suatu kelas (Class) adalah jumlah frekuensi kemunculan kelas tersebut dibagi dengan total jumlah data. Berikut adalah langkah-langkah umum untuk menghitung nilai prior:

1. Hitung Jumlah Data: Hitung total jumlah data dalam dataset.
2. Hitung Jumlah Kemunculan Setiap Kelas: Hitung jumlah kemunculan setiap kelas (ClassAttrition) dalam dataset.
3. Hitung Nilai Prior untuk Setiap Kelas: Hitung nilai prior untuk setiap kelas dengan membagi jumlah kemunculan kelas tersebut dengan total jumlah data.

In [38]:
# Hitung total jumlah data
total_data = len(df)

# Hitung jumlah kemunculan setiap kelas
jumlah_kelas_0 = df['ClassAttrition'].value_counts()['No']
jumlah_kelas_1 = df['ClassAttrition'].value_counts()['Yes']

# Hitung nilai prior untuk setiap kelas
prior_kelas_0 = jumlah_kelas_0 / total_data
prior_kelas_1 = jumlah_kelas_1 / total_data

# Menampilkan hasil perhitungan
print("N(T):", total_data)
print("N(A1) 'No':", jumlah_kelas_0)
print("N(A2) 'Yes':", jumlah_kelas_1)
print("P(A1) 'No':", prior_kelas_0)
print("P(A2) 'Yes':", prior_kelas_1)

N(T): 1470
N(A1) 'No': 1233
N(A2) 'Yes': 237
P(A1) 'No': 0.8387755102040816
P(A2) 'Yes': 0.16122448979591836

# 5. Tabel Kontigensi

Tabel kontingensi atau confusion matrix digunakan untuk mengevaluasi kinerja model klasifikasi dengan membandingkan hasil prediksi model dengan nilai aktual atau ground truth. Dalam konteks Naive Bayes, kita dapat membuat tabel kontingensi dengan menghitung berapa banyak prediksi model yang benar dan berapa banyak yang salah untuk setiap kelas.

In [20]:
# Membaca data dari file CSV ke dalam DataFrame
df = pd.read_csv('Dataset/cleaned.csv')

# Menggunakan ClassAttrition sebagai variabel aktual
variabel_prediksi = 'ClassAttrition'

# Menentukan nilai yang mungkin untuk ClassAttrition
nilai_class_attrition = df[variabel_prediksi].unique()

# Iterasi melalui setiap kolom (variabel) dan menghitung tabel kontingensi
for kolom in df.columns:
    if kolom != variabel_prediksi:
        print(f"\nTabel Kontingensi untuk {kolom} terhadap {variabel_prediksi}:")
        for nilai_prediksi in nilai_class_attrition:
            tabel_kontingensi = pd.crosstab(index=df[kolom], columns=df[variabel_prediksi] == nilai_prediksi, margins=True, margins_name='Total')
            print(f"\n{nilai_prediksi}:\n{tabel_kontingensi}")

Tabel Kontingensi untuk level terhadap ClassAttrition:

Yes:
ClassAttrition  False  True  Total
level
Junior            235    91    326
Junior Senior     533    89    622
Senior            465    57    522
Total            1233   237   1470

No:
ClassAttrition  False  True  Total
level
Junior             91   235    326
Junior Senior      89   533    622
Senior             57   465    522
Total             237  1233   1470

Tabel Kontingensi untuk BusinessTravel terhadap ClassAttrition:

Yes:
ClassAttrition     False  True  Total
BusinessTravel
Non-Travel           138    12    150
Travel_Frequently    208    69    277
Travel_Rarely        887   156   1043
Total               1233   237   1470

No:
ClassAttrition     False  True  Total
BusinessTravel
Non-Travel            12   138    150
Travel_Frequently     69   208    277
Travel_Rarely        156   887   1043
Total                237  1233   1470

Tabel Kontingensi untuk Department terhadap ClassAttrition:

Yes:
ClassAttrition          False  True  Total
Department
Human Resources            51    12     63
Research & Development    828   133    961
Sales                     354    92    446
Total                    1233   237   1470

No:
ClassAttrition          False  True  Total
Department
Human Resources            12    51     63
Research & Development    133   828    961
Sales                      92   354    446
Total                     237  1233   1470

Tabel Kontingensi untuk Education terhadap ClassAttrition:

Yes:
ClassAttrition  False  True  Total
Education
D3                238    44    282
S1                473    99    572
S2                340    58    398
S3                 43     5     48
SMA               139    31    170
Total            1233   237   1470

No:
ClassAttrition  False  True  Total
Education
D3                 44   238    282
S1                 99   473    572
S2                 58   340    398
S3                  5    43     48
SMA                31   139    170
Total             237  1233   1470

Tabel Kontingensi untuk EducationField terhadap ClassAttrition:

Yes:
ClassAttrition    False  True  Total
EducationField
Human Resources      20     7     27
Life Sciences       517    89    606
Marketing           124    35    159
Medical             401    63    464
Other                71    11     82
Technical Degree    100    32    132
Total              1233   237   1470

No:
ClassAttrition    False  True  Total
EducationField
Human Resources       7    20     27
Life Sciences        89   517    606
Marketing            35   124    159
Medical              63   401    464
Other                11    71     82
Technical Degree     32   100    132
Total               237  1233   1470

Tabel Kontingensi untuk Gender terhadap ClassAttrition:

Yes:
ClassAttrition  False  True  Total
Gender
Female            501    87    588
Male              732   150    882
Total            1233   237   1470

No:
ClassAttrition  False  True  Total
Gender
Female             87   501    588
Male              150   732    882
Total             237  1233   1470

Tabel Kontingensi untuk JobRole terhadap ClassAttrition:

Yes:
ClassAttrition             False  True  Total
JobRole
Healthcare Representative    122     9    131
Human Resources               40    12     52
Laboratory Technician        197    62    259
Manager                       97     5    102
Manufacturing Director       135    10    145
Research Director             78     2     80
Research Scientist           245    47    292
Sales Executive              269    57    326
Sales Representative          50    33     83
Total                       1233   237   1470

No:
ClassAttrition             False  True  Total
JobRole
Healthcare Representative      9   122    131
Human Resources               12    40     52
Laboratory Technician         62   197    259
Manager                        5    97    102
Manufacturing Director        10   135    145
Research Director              2    78     80
Research Scientist            47   245    292
Sales Executive               57   269    326
Sales Representative          33    50     83
Total                        237  1233   1470

Tabel Kontingensi untuk MaritalStatus terhadap ClassAttrition:

Yes:
ClassAttrition  False  True  Total
MaritalStatus
Divorced          294    33    327
Married           589    84    673
Single            350   120    470
Total            1233   237   1470

No:
ClassAttrition  False  True  Total
MaritalStatus
Divorced           33   294    327
Married            84   589    673
Single            120   350    470
Total             237  1233   1470

Tabel Kontingensi untuk OverTime terhadap ClassAttrition:

Yes:
ClassAttrition  False  True  Total
OverTime
No                944   110   1054
Yes               289   127    416
Total            1233   237   1470

No:
ClassAttrition  False  True  Total
OverTime
No                110   944   1054
Yes               127   289    416
Total             237  1233   1470

Hasil Pelatihan

In [44]:
# Iterasi melalui setiap kolom (variabel) dan menghitung tabel kontingensi
for kolom in df.columns:
    if kolom != variabel_prediksi:
        print(f"\nTabel Kontingensi untuk {kolom} terhadap {variabel_prediksi}:")
        for nilai_prediksi in nilai_class_attrition:
            tabel_kontingensi = pd.crosstab(index=df[kolom], columns=df[variabel_prediksi] == nilai_prediksi, margins=True, margins_name='Total')
            
            # Membagi hasil dengan N(A1) untuk 'No' dan N(A2) untuk 'Yes'
            if nilai_prediksi == 'Yes':
                print(f"\n{nilai_prediksi}:\n{tabel_kontingensi/jumlah_kelas_1}")
            elif nilai_prediksi == 'No':
                print(f"\n{nilai_prediksi}:\n{tabel_kontingensi/jumlah_kelas_0}")

Tabel Kontingensi untuk level terhadap ClassAttrition:

Yes:
ClassAttrition     False      True     Total
level
Junior          0.991561  0.383966  1.375527
Junior Senior   2.248945  0.375527  2.624473
Senior          1.962025  0.240506  2.202532
Total           5.202532  1.000000  6.202532

No:
ClassAttrition     False      True     Total
level
Junior          0.073804  0.190592  0.264396
Junior Senior   0.072182  0.432279  0.504461
Senior          0.046229  0.377129  0.423358
Total           0.192214  1.000000  1.192214

Tabel Kontingensi untuk BusinessTravel terhadap ClassAttrition:

Yes:
ClassAttrition        False      True     Total
BusinessTravel
Non-Travel         0.582278  0.050633  0.632911
Travel_Frequently  0.877637  0.291139  1.168776
Travel_Rarely      3.742616  0.658228  4.400844
Total              5.202532  1.000000  6.202532

No:
ClassAttrition        False      True     Total
BusinessTravel
Non-Travel         0.009732  0.111922  0.121655
Travel_Frequently  0.055961  0.168694  0.224655
Travel_Rarely      0.126521  0.719384  0.845904
Total              0.192214  1.000000  1.192214

Tabel Kontingensi untuk Department terhadap ClassAttrition:

Yes:
ClassAttrition             False      True     Total
Department
Human Resources         0.215190  0.050633  0.265823
Research & Development  3.493671  0.561181  4.054852
Sales                   1.493671  0.388186  1.881857
Total                   5.202532  1.000000  6.202532

No:
ClassAttrition             False      True     Total
Department
Human Resources         0.009732  0.041363  0.051095
Research & Development  0.107867  0.671533  0.779400
Sales                   0.074615  0.287105  0.361719
Total                   0.192214  1.000000  1.192214

Tabel Kontingensi untuk Education terhadap ClassAttrition:

Yes:
ClassAttrition     False      True     Total
Education
D3              1.004219  0.185654  1.189873
S1              1.995781  0.417722  2.413502
S2              1.434599  0.244726  1.679325
S3              0.181435  0.021097  0.202532
SMA             0.586498  0.130802  0.717300
Total           5.202532  1.000000  6.202532

No:
ClassAttrition     False      True     Total
Education
D3              0.035685  0.193025  0.228710
S1              0.080292  0.383617  0.463909
S2              0.047040  0.275750  0.322790
S3              0.004055  0.034874  0.038929
SMA             0.025142  0.112733  0.137875
Total           0.192214  1.000000  1.192214

Tabel Kontingensi untuk EducationField terhadap ClassAttrition:

Yes:
ClassAttrition       False      True     Total
EducationField
Human Resources   0.084388  0.029536  0.113924
Life Sciences     2.181435  0.375527  2.556962
Marketing         0.523207  0.147679  0.670886
Medical           1.691983  0.265823  1.957806
Other             0.299578  0.046414  0.345992
Technical Degree  0.421941  0.135021  0.556962
Total             5.202532  1.000000  6.202532

No:
ClassAttrition       False      True     Total
EducationField
Human Resources   0.005677  0.016221  0.021898
Life Sciences     0.072182  0.419303  0.491484
Marketing         0.028386  0.100568  0.128954
Medical           0.051095  0.325223  0.376318
Other             0.008921  0.057583  0.066504
Technical Degree  0.025953  0.081103  0.107056
Total             0.192214  1.000000  1.192214

Tabel Kontingensi untuk Gender terhadap ClassAttrition:

Yes:
ClassAttrition     False      True     Total
Gender
Female          2.113924  0.367089  2.481013
Male            3.088608  0.632911  3.721519
Total           5.202532  1.000000  6.202532

No:
ClassAttrition     False      True     Total
Gender
Female          0.070560  0.406326  0.476886
Male            0.121655  0.593674  0.715328
Total           0.192214  1.000000  1.192214

Tabel Kontingensi untuk JobRole terhadap ClassAttrition:

Yes:
ClassAttrition                False      True     Total
JobRole
Healthcare Representative  0.514768  0.037975  0.552743
Human Resources            0.168776  0.050633  0.219409
Laboratory Technician      0.831224  0.261603  1.092827
Manager                    0.409283  0.021097  0.430380
Manufacturing Director     0.569620  0.042194  0.611814
Research Director          0.329114  0.008439  0.337553
Research Scientist         1.033755  0.198312  1.232068
Sales Executive            1.135021  0.240506  1.375527
Sales Representative       0.210970  0.139241  0.350211
Total                      5.202532  1.000000  6.202532

No:
ClassAttrition                False      True     Total
JobRole
Healthcare Representative  0.007299  0.098946  0.106245
Human Resources            0.009732  0.032441  0.042174
Laboratory Technician      0.050284  0.159773  0.210057
Manager                    0.004055  0.078670  0.082725
Manufacturing Director     0.008110  0.109489  0.117599
Research Director          0.001622  0.063260  0.064882
Research Scientist         0.038118  0.198702  0.236821
Sales Executive            0.046229  0.218167  0.264396
Sales Representative       0.026764  0.040552  0.067315
Total                      0.192214  1.000000  1.192214

Tabel Kontingensi untuk MaritalStatus terhadap ClassAttrition:

Yes:
ClassAttrition     False      True     Total
MaritalStatus
Divorced        1.240506  0.139241  1.379747
Married         2.485232  0.354430  2.839662
Single          1.476793  0.506329  1.983122
Total           5.202532  1.000000  6.202532

No:
ClassAttrition     False      True     Total
MaritalStatus
Divorced        0.026764  0.238443  0.265207
Married         0.068127  0.477697  0.545823
Single          0.097324  0.283861  0.381184
Total           0.192214  1.000000  1.192214

Tabel Kontingensi untuk OverTime terhadap ClassAttrition:

Yes:
ClassAttrition     False      True     Total
OverTime
No              3.983122  0.464135  4.447257
Yes             1.219409  0.535865  1.755274
Total           5.202532  1.000000  6.202532

No:
ClassAttrition     False      True     Total
OverTime
No              0.089213  0.765612  0.854826
Yes             0.103001  0.234388  0.337388
Total           0.192214  1.000000  1.192214

# 6. Probabilitas Likelihood

Menghitung Probabilitas Likelihood adalah langkah kedua dalam algoritma Naive Bayes. Probabilitas Likelihood menggambarkan seberapa sering suatu nilai fitur muncul dalam setiap kelas yang berbeda.

In [83]:
# Iterasi melalui setiap kolom (variabel) dan menghitung Probabilitas Likelihood
for kolom in df.columns:
    if kolom != variabel_prediksi:
        print(f"\nProbabilitas Likelihood untuk {kolom} terhadap {variabel_prediksi}:")

        # Hitung Probabilitas Likelihood untuk setiap nilai prediksi
        for nilai_prediksi in nilai_class_attrition:
            # Filter dataframe berdasarkan nilai prediksi
            subset_df = df[df[variabel_prediksi] == nilai_prediksi]

            # Hitung Probabilitas Likelihood untuk setiap nilai fitur dalam kelas tertentu
            for nilai_fitur in df[kolom].unique():
                prob_likelihood = subset_df[kolom].value_counts()[nilai_fitur] / len(subset_df)
                print(f"\n{nilai_prediksi} - {nilai_fitur}:\nProbabilitas Likelihood: {prob_likelihood}")

Probabilitas Likelihood untuk level terhadap ClassAttrition:

Yes - Senior:
Probabilitas Likelihood: 0.24050632911392406

Yes - Junior Senior:
Probabilitas Likelihood: 0.3755274261603376

Yes - Junior:
Probabilitas Likelihood: 0.38396624472573837

No - Senior:
Probabilitas Likelihood: 0.3771289537712895

No - Junior Senior:
Probabilitas Likelihood: 0.43227899432278993

No - Junior:
Probabilitas Likelihood: 0.19059205190592052

Probabilitas Likelihood untuk BusinessTravel terhadap ClassAttrition:

Yes - Travel_Rarely:
Probabilitas Likelihood: 0.6582278481012658

Yes - Travel_Frequently:
Probabilitas Likelihood: 0.2911392405063291

Yes - Non-Travel:
Probabilitas Likelihood: 0.05063291139240506

No - Travel_Rarely:
Probabilitas Likelihood: 0.7193836171938361

No - Travel_Frequently:
Probabilitas Likelihood: 0.16869424168694241

No - Non-Travel:
Probabilitas Likelihood: 0.11192214111922141

Probabilitas Likelihood untuk Department terhadap ClassAttrition:

Yes - Sales:
Probabilitas Likelihood: 0.3881856540084388

Yes - Research & Development:
Probabilitas Likelihood: 0.5611814345991561

Yes - Human Resources:
Probabilitas Likelihood: 0.05063291139240506

No - Sales:
Probabilitas Likelihood: 0.2871046228710462

No - Research & Development:
Probabilitas Likelihood: 0.6715328467153284

No - Human Resources:
Probabilitas Likelihood: 0.0413625304136253

Probabilitas Likelihood untuk Education terhadap ClassAttrition:

Yes - D3:
Probabilitas Likelihood: 0.18565400843881857

Yes - SMA:
Probabilitas Likelihood: 0.1308016877637131

Yes - S2:
Probabilitas Likelihood: 0.24472573839662448

Yes - S1:
Probabilitas Likelihood: 0.4177215189873418

Yes - S3:
Probabilitas Likelihood: 0.02109704641350211

No - D3:
Probabilitas Likelihood: 0.19302514193025141

No - SMA:
Probabilitas Likelihood: 0.11273317112733171

No - S2:
Probabilitas Likelihood: 0.275750202757502

No - S1:
Probabilitas Likelihood: 0.38361719383617193

No - S3:
Probabilitas Likelihood: 0.034874290348742905

Probabilitas Likelihood untuk EducationField terhadap ClassAttrition:

Yes - Life Sciences:
Probabilitas Likelihood: 0.3755274261603376

Yes - Other:
Probabilitas Likelihood: 0.046413502109704644

Yes - Medical:
Probabilitas Likelihood: 0.26582278481012656

Yes - Marketing:
Probabilitas Likelihood: 0.14767932489451477

Yes - Technical Degree:
Probabilitas Likelihood: 0.1350210970464135

Yes - Human Resources:
Probabilitas Likelihood: 0.029535864978902954

No - Life Sciences:
Probabilitas Likelihood: 0.41930251419302517

No - Other:
Probabilitas Likelihood: 0.0575831305758313

No - Medical:
Probabilitas Likelihood: 0.32522303325223034

No - Marketing:
Probabilitas Likelihood: 0.10056772100567721

No - Technical Degree:
Probabilitas Likelihood: 0.08110300081103

No - Human Resources:
Probabilitas Likelihood: 0.016220600162206

Probabilitas Likelihood untuk Gender terhadap ClassAttrition:

Yes - Female:
Probabilitas Likelihood: 0.3670886075949367

Yes - Male:
Probabilitas Likelihood: 0.6329113924050633

No - Female:
Probabilitas Likelihood: 0.40632603406326034

No - Male:
Probabilitas Likelihood: 0.5936739659367397

Probabilitas Likelihood untuk JobRole terhadap ClassAttrition:

Yes - Sales Executive:
Probabilitas Likelihood: 0.24050632911392406

Yes - Research Scientist:
Probabilitas Likelihood: 0.19831223628691982

Yes - Laboratory Technician:
Probabilitas Likelihood: 0.2616033755274262

Yes - Manufacturing Director:
Probabilitas Likelihood: 0.04219409282700422

Yes - Healthcare Representative:
Probabilitas Likelihood: 0.0379746835443038

Yes - Manager:
Probabilitas Likelihood: 0.02109704641350211

Yes - Sales Representative:
Probabilitas Likelihood: 0.13924050632911392

Yes - Research Director:
Probabilitas Likelihood: 0.008438818565400843

Yes - Human Resources:
Probabilitas Likelihood: 0.05063291139240506

No - Sales Executive:
Probabilitas Likelihood: 0.21816707218167072

No - Research Scientist:
Probabilitas Likelihood: 0.19870235198702352

No - Laboratory Technician:
Probabilitas Likelihood: 0.1597729115977291

No - Manufacturing Director:
Probabilitas Likelihood: 0.10948905109489052

No - Healthcare Representative:
Probabilitas Likelihood: 0.0989456609894566

No - Manager:
Probabilitas Likelihood: 0.0786699107866991

No - Sales Representative:
Probabilitas Likelihood: 0.040551500405515

No - Research Director:
Probabilitas Likelihood: 0.06326034063260341

No - Human Resources:
Probabilitas Likelihood: 0.032441200324412

Probabilitas Likelihood untuk MaritalStatus terhadap ClassAttrition:

Yes - Single:
Probabilitas Likelihood: 0.5063291139240507

Yes - Married:
Probabilitas Likelihood: 0.35443037974683544

Yes - Divorced:
Probabilitas Likelihood: 0.13924050632911392

No - Single:
Probabilitas Likelihood: 0.28386050283860503

No - Married:
Probabilitas Likelihood: 0.47769667477696676

No - Divorced:
Probabilitas Likelihood: 0.2384428223844282

Probabilitas Likelihood untuk OverTime terhadap ClassAttrition:

Yes - Yes:
Probabilitas Likelihood: 0.5358649789029536

Yes - No:
Probabilitas Likelihood: 0.4641350210970464

No - Yes:
Probabilitas Likelihood: 0.23438767234387672

No - No:
Probabilitas Likelihood: 0.7656123276561233

# 7. Prediksi Kelas:

Pilih kelas dengan probabilitas posterior tertinggi sebagai prediksi untuk setiap instance dalam set pengujian.

In [88]:
# Fungsi untuk memprediksi kelas
def prediksi_kelas(data):
    probabilitas_posterior = {}

    # Iterasi melalui nilai kelas yang mungkin
    for nilai_kelas in nilai_class_attrition:
        probabilitas_posterior[nilai_kelas] = 1.0

        # Iterasi melalui setiap kolom (variabel)
        for kolom in df.columns:
            if kolom != variabel_prediksi:
                # Ambil nilai Probabilitas Likelihood dari hasil sebelumnya
                nilai_probabilitas_likelihood = hasil_probabilitas_likelihood[
                    (hasil_probabilitas_likelihood[kolom] == data[kolom]) &
                    (hasil_probabilitas_likelihood[variabel_prediksi] == nilai_kelas)
                ]['Probabilitas_Likelihood'].values[0]

                # Kalikan dengan Probabilitas Posterior
                probabilitas_posterior[nilai_kelas] *= nilai_probabilitas_likelihood

    # Pilih kelas dengan probabilitas tertinggi
    kelas_terpilih = max(probabilitas_posterior, key=probabilitas_posterior.get)
    return kelas_terpilih

# 8. Pengujian

Pengujian model Naive Bayes dilakukan dengan menguji seberapa baik model tersebut dapat memprediksi kelas target

In [93]:
# Pengujian data

data_prediksi = {
    'level': 'Senior',
    'BusinessTravel': 'Travel_Frequently',
    'Department': 'Research & Development',
    'Education': 'SMA',
    'EducationField': 'Life Sciences',
    'Gender': 'Male',
    'JobRole': 'Research Scientist',
    'MaritalStatus': 'Married',
    'OverTime': 'No'
}

hasil_prediksi = prediksi_kelas(data_prediksi)
print(f"Hasil prediksi kelas: {hasil_prediksi}")

Hasil prediksi kelas: No

Hasil Pengujian

In [96]:
# Membaca data uji dari file CSV
data_uji = pd.read_csv('Dataset/data_test.csv')

# Menambahkan kolom 'Hasil_Prediksi' ke DataFrame
data_uji['Hasil_Prediksi'] = data_uji.apply(prediksi_kelas, axis=1)

# Evaluasi model
akurasi = sum(data_uji['ClassAttrition'] == data_uji['Hasil_Prediksi']) / len(data_uji)

print(f"Akurasi: {akurasi}")

Akurasi: 0.7293233082706767

In [103]:
# Membaca data uji dari file CSV
data_uji = pd.read_csv('data_input.csv')

# Menambahkan kolom 'Hasil_Prediksi' ke DataFrame
data_uji['Hasil_Prediksi'] = data_uji.apply(prediksi_kelas, axis=1)

# Menampilkan hasil prediksi kelas 'ClassAttrition'
hasil_prediksi_kelas = data_uji[['Hasil_Prediksi']]
print("\nHasil Prediksi Kelas:")
print(hasil_prediksi_kelas)

Hasil Prediksi Kelas:
  Hasil_Prediksi
0            Yes
1             No
2            Yes
3            Yes
4            Yes
5            Yes
6            Yes
7             No
8             No