# 1.Import Library Pandas

 Pustaka ini menyediakan struktur data yang efisien dan mudah digunakan, terutama DataFrame, yang memungkinkan pengolahan data tabular dan deret waktu

In [1]:
import pandas as pd

# 2. Variable Checker

Mengecek Jumlah Berapa Jenis Varible pada Kolom

In [3]:
# Membaca data dari file CSV ke dalam DataFrame
df = pd.read_csv('Dataset/HR Employee Attrition(NAIVE BAYES).xlsx - HR Employee Attrition.csv')

# Menampilkan jenis atribut pada setiap kolom
for kolom in df.columns:
    jenis_atribut = df[kolom].unique()
    print(f"Jenis Atribut pada Kolom {kolom}:")
    print(jenis_atribut)
    print()

Jenis Atribut pada Kolom level:
['Senior' 'Junior Senior' 'Junior']

Jenis Atribut pada Kolom Age:
[41 49 37 33 27 32 59 30 38 36 35 29 31 34 28 22 53 24 21 42 44 46 39 43
 50 26 48 55 45 56 23 51 40 54 58 20 25 19 57 52 47 18 60]

Jenis Atribut pada Kolom BusinessTravel:
['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']

Jenis Atribut pada Kolom Department:
['Sales' 'Research & Development' 'Human Resources']

Jenis Atribut pada Kolom Education:
['D3' 'SMA' 'S2' 'S1' 'S3']

Jenis Atribut pada Kolom Education.1:
[2 1 4 3 5]

Jenis Atribut pada Kolom EducationField:
['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources']

Jenis Atribut pada Kolom EnvironmentSatisfaction:
[2 3 4 1]

Jenis Atribut pada Kolom Gender:
['Female' 'Male']

Jenis Atribut pada Kolom HourlyRate:
[ 94  61  92  56  40  79  81  67  44  84  49  31  93  50  51  80  96  78
  45  82  53  83  58  72  48  42  41  86  97  75  33  37  73  98  36  47
  71  30  43  99  59  95  57  76  87  66  55  32  52  70  62  64  63  60
 100  46  39  77  35  91  54  34  90  65  88  85  89  68  69  74  38]

Jenis Atribut pada Kolom JobLevel:
[2 1 3 4 5]

Jenis Atribut pada Kolom JobRole:
['Sales Executive' 'Research Scientist' 'Laboratory Technician'
 'Manufacturing Director' 'Healthcare Representative' 'Manager'
 'Sales Representative' 'Research Director' 'Human Resources']

Jenis Atribut pada Kolom MaritalStatus:
['Single' 'Married' 'Divorced']

Jenis Atribut pada Kolom OverTime:
['Yes' 'No']

Jenis Atribut pada Kolom ClassAttrition:
['Yes' 'No']

# 3. Cleaned Data

Memastikan data yang dipakai sesuai dengan kebutuhan dalam proses algoritma naive bayes

In [6]:
# Membaca data dari file CSV ke dalam DataFrame
df = pd.read_csv('Dataset/HR Employee Attrition(NAIVE BAYES).xlsx - HR Employee Attrition.csv')

# Memilih kolom yang diinginkan
kolom_diinginkan = ['level', 'BusinessTravel', 'Department', 'Education', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'OverTime', 'ClassAttrition']
df_baru = df.loc[:, kolom_diinginkan]

# Menyimpan DataFrame baru ke file CSV
df_baru.to_csv('Dataset/cleaned.csv', index=False)

print("File CSV baru telah berhasil dibuat.")

File CSV baru telah berhasil dibuat.

In [10]:
# Membaca data dari file CSV ke dalam DataFrame
df = pd.read_csv('Dataset/cleaned.csv')

# Menampilkan jenis atribut pada setiap kolom
for kolom in df.columns:
    jenis_atribut = df[kolom].unique()
    print(f"Jenis Atribut pada Kolom {kolom}:")
    print(jenis_atribut)
    print()

Jenis Atribut pada Kolom level:
['Senior' 'Junior Senior' 'Junior']

Jenis Atribut pada Kolom BusinessTravel:
['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']

Jenis Atribut pada Kolom Department:
['Sales' 'Research & Development' 'Human Resources']

Jenis Atribut pada Kolom Education:
['D3' 'SMA' 'S2' 'S1' 'S3']

Jenis Atribut pada Kolom EducationField:
['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources']

Jenis Atribut pada Kolom Gender:
['Female' 'Male']

Jenis Atribut pada Kolom JobRole:
['Sales Executive' 'Research Scientist' 'Laboratory Technician'
 'Manufacturing Director' 'Healthcare Representative' 'Manager'
 'Sales Representative' 'Research Director' 'Human Resources']

Jenis Atribut pada Kolom MaritalStatus:
['Single' 'Married' 'Divorced']

Jenis Atribut pada Kolom OverTime:
['Yes' 'No']

Jenis Atribut pada Kolom ClassAttrition:
['Yes' 'No']

# 4. Menentukan Nilai Prior

Perhitungan nilai prior dalam konteks Naive Bayes dilakukan dengan menghitung proporsi atau probabilitas kemunculan setiap kelas dalam dataset. Secara sederhana, nilai prior dari suatu kelas (Class) adalah jumlah frekuensi kemunculan kelas tersebut dibagi dengan total jumlah data. Berikut adalah langkah-langkah umum untuk menghitung nilai prior:

1. Hitung Jumlah Data: Hitung total jumlah data dalam dataset.
2. Hitung Jumlah Kemunculan Setiap Kelas: Hitung jumlah kemunculan setiap kelas (ClassAttrition) dalam dataset.
3. Hitung Nilai Prior untuk Setiap Kelas: Hitung nilai prior untuk setiap kelas dengan membagi jumlah kemunculan kelas tersebut dengan total jumlah data.

In [7]:
# Membaca data dari file CSV ke dalam DataFrame
df = pd.read_csv('Dataset/cleaned.csv')

# Hitung total jumlah data
total_data = len(df)

# Hitung jumlah kemunculan setiap kelas
jumlah_kelas_0 = df['ClassAttrition'].value_counts()['No']
jumlah_kelas_1 = df['ClassAttrition'].value_counts()['Yes']

# Hitung nilai prior untuk setiap kelas
prior_kelas_0 = jumlah_kelas_0 / total_data
prior_kelas_1 = jumlah_kelas_1 / total_data

# Menampilkan hasil perhitungan
print("Jumlah Data Total:", total_data)
print("Jumlah Kemunculan Kelas 'No':", jumlah_kelas_0)
print("Jumlah Kemunculan Kelas 'Yes':", jumlah_kelas_1)
print("Nilai Prior Kelas 'No':", prior_kelas_0)
print("Nilai Prior Kelas 'Yes':", prior_kelas_1)

Jumlah Data Total: 1470
Jumlah Kemunculan Kelas 'No': 1233
Jumlah Kemunculan Kelas 'Yes': 237
Nilai Prior Kelas 'No': 0.8387755102040816
Nilai Prior Kelas 'Yes': 0.16122448979591836

# 5. Tabel Kontigensi

Tabel kontingensi atau confusion matrix digunakan untuk mengevaluasi kinerja model klasifikasi dengan membandingkan hasil prediksi model dengan nilai aktual atau ground truth. Dalam konteks Naive Bayes, kita dapat membuat tabel kontingensi dengan menghitung berapa banyak prediksi model yang benar dan berapa banyak yang salah untuk setiap kelas. Berikut adalah langkah-langkah umum untuk menghitung tabel kontingensi:

Buat Confusion Matrix:

True Positive (TP): Jumlah data yang benar-benar termasuk dalam kelas positif.
True Negative (TN): Jumlah data yang benar-benar termasuk dalam kelas negatif.
False Positive (FP): Jumlah data yang salah diprediksi sebagai kelas positif.
False Negative (FN): Jumlah data yang salah diprediksi sebagai kelas negatif.
Hitung Akurasi, Presisi, dan Recall:

Akurasi (Accuracy): Jumlah prediksi benar (TP + TN) dibagi dengan total data.
Presisi (Precision): TP dibagi dengan jumlah total prediksi positif (TP + FP).
Recall atau Sensitivitas: TP dibagi dengan jumlah total data yang seharusnya positif (TP + FN).
Berikut adalah contoh implementasi dalam Python:

In [19]:
import pandas as pd

# Membaca data dari file CSV ke dalam DataFrame
df = pd.read_csv('Dataset/cleaned.csv')

# Menggunakan ClassAttrition sebagai variabel aktual
variabel_prediksi = 'ClassAttrition'

# Menentukan nilai yang mungkin untuk ClassAttrition
nilai_class_attrition = df[variabel_prediksi].unique()

# Iterasi melalui setiap kolom (variabel) dan menghitung tabel kontingensi
for kolom in df.columns:
    if kolom != variabel_prediksi:
        print(f"\nTabel Kontingensi untuk {kolom} terhadap {variabel_prediksi}:")
        for nilai_prediksi in nilai_class_attrition:
            tabel_kontingensi = pd.crosstab(index=df[kolom], columns=df[variabel_prediksi] == nilai_prediksi, margins=True, margins_name='Total')
            print(f"\n{nilai_prediksi}:\n{tabel_kontingensi}")

Tabel Kontingensi untuk level terhadap ClassAttrition:

Yes:
ClassAttrition  False  True  Total
level
Junior            235    91    326
Junior Senior     533    89    622
Senior            465    57    522
Total            1233   237   1470

No:
ClassAttrition  False  True  Total
level
Junior             91   235    326
Junior Senior      89   533    622
Senior             57   465    522
Total             237  1233   1470

Tabel Kontingensi untuk BusinessTravel terhadap ClassAttrition:

Yes:
ClassAttrition     False  True  Total
BusinessTravel
Non-Travel           138    12    150
Travel_Frequently    208    69    277
Travel_Rarely        887   156   1043
Total               1233   237   1470

No:
ClassAttrition     False  True  Total
BusinessTravel
Non-Travel            12   138    150
Travel_Frequently     69   208    277
Travel_Rarely        156   887   1043
Total                237  1233   1470

Tabel Kontingensi untuk Department terhadap ClassAttrition:

Yes:
ClassAttrition          False  True  Total
Department
Human Resources            51    12     63
Research & Development    828   133    961
Sales                     354    92    446
Total                    1233   237   1470

No:
ClassAttrition          False  True  Total
Department
Human Resources            12    51     63
Research & Development    133   828    961
Sales                      92   354    446
Total                     237  1233   1470

Tabel Kontingensi untuk Education terhadap ClassAttrition:

Yes:
ClassAttrition  False  True  Total
Education
D3                238    44    282
S1                473    99    572
S2                340    58    398
S3                 43     5     48
SMA               139    31    170
Total            1233   237   1470

No:
ClassAttrition  False  True  Total
Education
D3                 44   238    282
S1                 99   473    572
S2                 58   340    398
S3                  5    43     48
SMA                31   139    170
Total             237  1233   1470

Tabel Kontingensi untuk EducationField terhadap ClassAttrition:

Yes:
ClassAttrition    False  True  Total
EducationField
Human Resources      20     7     27
Life Sciences       517    89    606
Marketing           124    35    159
Medical             401    63    464
Other                71    11     82
Technical Degree    100    32    132
Total              1233   237   1470

No:
ClassAttrition    False  True  Total
EducationField
Human Resources       7    20     27
Life Sciences        89   517    606
Marketing            35   124    159
Medical              63   401    464
Other                11    71     82
Technical Degree     32   100    132
Total               237  1233   1470

Tabel Kontingensi untuk Gender terhadap ClassAttrition:

Yes:
ClassAttrition  False  True  Total
Gender
Female            501    87    588
Male              732   150    882
Total            1233   237   1470

No:
ClassAttrition  False  True  Total
Gender
Female             87   501    588
Male              150   732    882
Total             237  1233   1470

Tabel Kontingensi untuk JobRole terhadap ClassAttrition:

Yes:
ClassAttrition             False  True  Total
JobRole
Healthcare Representative    122     9    131
Human Resources               40    12     52
Laboratory Technician        197    62    259
Manager                       97     5    102
Manufacturing Director       135    10    145
Research Director             78     2     80
Research Scientist           245    47    292
Sales Executive              269    57    326
Sales Representative          50    33     83
Total                       1233   237   1470

No:
ClassAttrition             False  True  Total
JobRole
Healthcare Representative      9   122    131
Human Resources               12    40     52
Laboratory Technician         62   197    259
Manager                        5    97    102
Manufacturing Director        10   135    145
Research Director              2    78     80
Research Scientist            47   245    292
Sales Executive               57   269    326
Sales Representative          33    50     83
Total                        237  1233   1470

Tabel Kontingensi untuk MaritalStatus terhadap ClassAttrition:

Yes:
ClassAttrition  False  True  Total
MaritalStatus
Divorced          294    33    327
Married           589    84    673
Single            350   120    470
Total            1233   237   1470

No:
ClassAttrition  False  True  Total
MaritalStatus
Divorced           33   294    327
Married            84   589    673
Single            120   350    470
Total             237  1233   1470

Tabel Kontingensi untuk OverTime terhadap ClassAttrition:

Yes:
ClassAttrition  False  True  Total
OverTime
No                944   110   1054
Yes               289   127    416
Total            1233   237   1470

No:
ClassAttrition  False  True  Total
OverTime
No                110   944   1054
Yes               127   289    416
Total             237  1233   1470